<div class="jumbotron">
    <h1>Basic Auto Insurance</h1>
    <p class="Lead">The absolute best in auto insurance in the Northwest United States!</p>
</div>

<div class="row glyphicon-align-center">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Learn more about our company and the many options we offer!
        </p>
        <p><a class="btn btn-primary" href="~/home/about">About Us &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Start Your Quote</h2>
        <p>
            Enter your information to receive you instant quote!
        </p>
        <p><a class="btn btn-primary" href="~/Insuree/Create">Getting Started &raquo;</a></p>
    </div>

</div>