<h2>Pay Your Bill Online</h2>
<br />
<p>Easy online payments availeble here, sign up for automatic payments, or enroll for paperless billing.</p>

<br />

<button class="btn btn-success">Pay Bill</button>
<button class="btn btn-success">Automatic Payments</button>
<button class="btn btn-success">Paperless Billing</button>