@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Pineapple Express<br />
    Kent, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.867.5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">BasicSupport@BasicAuto.com</a><br />
</address>